html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    background-color: teal;
    color: white;
    padding: 14px 32px;
    font-weight: 500;
}

h1 {
    font-weight: 300;
    font-size: 2.6em;
}

pre {
    display: inline;
    margin: 0;
    font-size: 1.2em;
}

.note {
    color: black;
    max-width: 900px;
    margin: 10px auto;
    padding: 20px;
    background-color: #FFFFCC;
    border: 2px solid teal;
    font-size: 1.2em;
}

#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

#mocha-stats {
    background-color: #ffffffee;
    padding-top: 4px !important;
    border: 1px solid darkgray;
}

#mocha .test a.replay {
    display: none;
}

#mocha h1 a {
    pointer-events: none;
}
